<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Student Navigation|Cucec</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../../assets/stylesheets/students/navigation.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="index.html">
                    Student Name <!--Insert student name here-->
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Points</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">



                    <!-- Student Navigation Tabs -->
                    <div class="row animatedParent">

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Listening</h5>
                                    <p>
                                        Listen to English recordings.
                                    </p>
                                    <a href="#"  class="btn btn-default">Listen</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Speaking</h5>
                                    <p>
                                        Improve your speaking skills.
                                    </p>
                                    <a href="#"  class="btn btn-default">Speak</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Reading</h5>
                                    <p>
                                        Compare English and Chinese texts.
                                    </p>
                                    <a href="#"  class="btn btn-default">Read</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Writing</h5>
                                    <p>
                                        Practice your English writing skills.
                                    </p>
                                    <a href="#"  class="btn btn-default">Write</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Watching</h5>
                                    <p>
                                        Watch English movies and videos.
                                    </p>
                                    <a href="#"  class="btn btn-default">Watch</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Chatting</h5>
                                    <p>
                                        Talk to an American mentor through
                                        instant messaging.
                                    </p>
                                    <a href="#"  class="btn btn-default">Chat</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- End of Navigation tabs-->
                    <br>

                    <p><code>Go to navigation</code></p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle menu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../../../assets/javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../../assets/javascripts/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
