<%= render layout: 'shared/navbar' do %>
    <li>
        <%= link_to('Dashboard', students_path) %>
    </li>
    <li>
        <%= link_to('Logout', destroy_student_session_path, :method => :delete) %>
    </li>
<% end %>
<section class="container">
  <h1>Listen to Audio</h1>
  <p><%= audio_tag("katy.mp3", autoplay: false, controls: true)%></p>
</section>