<h1>Article of the Day</h1>
<div class="container">
    <div class="row greybackground"">
        <div class="col-xs-6">
            <h2>English Version</h2>
            <tt>
                <%= render :file => @read_english %>
            </tt>
        </div>
        <div class="col-xs-6">
            <h2>Chinese Version</h2>
            <tt>
                <%= render :file => @read_chinese %>
            </tt>
        </div>
    </div>
</div
