<h1>Article of the Day</h1>
<h2>English Version</h2>
<pre>
    <%= render :file => @read_english %>
</pre>
<h2>Chinese Version</h2>
<pre>
    <%= render :file => @read_chinese %>
</pre>
<p>中文</p>
<p>English</p>

