<section class="container">
  <h1>Watch Video</h1>
  <% if @resource and @resource.video%>
    <%= video_tag @resource.video.url, :controls => true%>
  <% else %>
    <p> No Video Uploaded </p>
  <% end %>
</section>