<p id="notice"><%= notice %></p>

<h1>Conversations</h1>
<% if @current_user.instance_of?Mentor %>
    <p> Hi, you are chatting as a Mentor</p>
<%elsif @current_user.instance_of?Student %>
    <p>Hi, you are chatting as a Student</p>
<%end%>

<div class="panel panel-default">
  <% if @conversations.any? %>
      <div class="panel-body" id="conversations">
        <%= render partial: 'conversations/conversation', collection: @conversations %>
      </div>
  <%else%>
      <div class="panel-body hidden" id="conversations"></div>
  <%end%>
</div>

<!-- Creates conversation with random, active mentor -->
<p><%= link_to "New Conversation", conversations_path, :method => :post %></p>

