<%= render :partial => 'shared/navigation'%>
<div class = "jumbotron container">
    <p>China US Culture Exchange Center provides a community of cultural awareness and 
    English language assistance for students and teachers during the transformation into a new 
    culture in the United States.</p>
    <br>
    <p>For advancing the English language, students first need to Sign Up for the application.
    Then, they will have an accesses to the unique features such as Listen, Write, Read, Speak, Watch, Chat with 
    native speakers that convey the American culture characteristics. The content of the lessons is daily updated and will not have a linkage
    to previously passed exercises.</p>
    <br>
    <p>If you consider yourself as a fluent English speaker and you are willing to help Chinese students to improve
    their knowledge of American culture as well as English, signing up as a Mentor you are not only serving for the great cost,
    but also earning volunteering hours.</p>
</div>