<!-- Navigation -->
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>China US Cultural Exchange Center</h1>
                    <h3>Start today!</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="/mentors/sign_up" class="btn btn-default btn-lg"><span class="network-name">SignUp for Mentor</span></a>
                        </li>
                        <li>
                            <a href="/students/sign_up" class="btn btn-default btn-lg"> <span class="network-name">SignUp for Students</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
