<div id="wrapper">
    <!-- Flash messages -->
    <div>
      <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Student Navigation Tabs -->
                    <div class="row animatedParent">

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Voice Call</h5>
                                    <p>
                                        Mentor a student through voice call.
                                    </p>
                                    <a href= <%= mentors_call_path %> class="btn btn-default">Call</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-desc">
                                    <h5>Chat</h5>
                                    <p>
                                        Mentor a student through instant message.
                                    </p>
                                   <a href= <%= conversations_path %> class="btn btn-default">Chat</a>
                                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- End of Navigation tabs-->
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
