<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">CUCEC</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if admin_signed_in? or mentor_signed_in? or student_signed_in?%>
                    <li><%= link_to('Logout', destroy_student_session_path, :method => :delete) %></li>
                    <% if mentor_signed_in?%>
                        <li>
                            <a href="/mentors">Home</a>
                        </li>
                    <% end %> 
                    <% if student_signed_in?%>
                        <li>
                            <a href="/students">Home</a>
                        </li>
                    <% end %> 
                <% else %>
                    <li>
                        <a href="/students">Students</a>
                    </li>
                    <li>
                        <a href="/mentors">Mentors</a>
                    </li>
                    <li>
                        <a href="/admins">Admins</a>
                    </li>
                    <li>
                        <a href="/donate/new">Donate</a>
                    </li>
                    <li>
                        <a>Contact</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                <% end %>    
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>